In [37]:
import pandas as pd
import re

In [38]:
df = pd.read_csv("olx_iphone2.csv")
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     1296 non-null   object
 1   Price     1296 non-null   float64
 2   City      1296 non-null   object
 3   Bargain   1296 non-null   bool
 4   Date      1296 non-null   datetime64[ns]
 5   District  852 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), object(3)
memory usage: 52.0+ KB
None

,Title,Price,City,Bargain,Date,District
0,Iphone 15 Pro XR Оригинал,114000.0,Алматы,False,2024-12-16,Алмалинский район
1,iphone 15 pro 256 gb,400000.0,Костанай,True,2024-12-15,NaN
2,IPhone 13 128gb 84% в отличном состоянии,165000.0,Усть-Каменогорск,False,2024-12-16,45-я аптека
3,Iphone 11 128gb с гарантией,35000.0,Актобе,False,2024-12-17,микрорайон 11
4,Iphone 11 128gb с гарантией,35000.0,Караганда,False,2024-12-17,Казыбекбийский район
...,...,...,...,...,...,...
1291,iPhone XR 64 Apple,100000.0,Актау,True,2024-12-16,1
1292,Iphone 14 pro purple 256 gb jsnv,360000.0,Астана,False,2024-12-17,Алматинский район
1293,Продам на метал Iphone 6,15000.0,Семей,True,2024-12-16,NaN
1294,Телефон iPhone 14 pro max 128 gb 86%,325000.0,Астана,False,2024-12-17,Есильский район
1295,Продается iPhone 6,10000.0,Костанай,False,2024-12-09,NaN

In [39]:
df.sort_values(["Price"]).head(10)

,Title,Price,City,Bargain,Date,District
834,Iphone 12 pro 128 gb,0.0,им.Балуана Шолака,False,2024-12-17,NaN
276,Ремонт сотовых телефонов Астана на выезд/ Sams...,0.0,Астана,False,2024-12-17,Сарыаркинский район
986,iphone 14 Pro Max,0.0,Астана,False,2024-12-17,Есильский район
578,Ремонт телефонов Iphone Samsung Lg Oppo Meziu ...,0.0,Актобе,False,2024-12-17,Старый город
278,"Ремонт телефонов Iphone,Samsung,Meizu,Huawei,L...",0.0,Актобе,False,2024-12-17,Старый город
387,"Ремонт телефонов , планшетов , apple iphone , ...",0.0,Кокшетау,False,2024-11-28,Первая аптека
852,"Деньги за iphone, ноутбук, смартфон, инструмен...",0.0,Костанай,False,2024-12-17,NaN
179,Iphone 12.,0.0,Астана,False,2024-11-25,Сарыаркинский район
588,Iphone 13 идеал .,0.0,Актау,False,2024-12-17,1
339,"Ремонт телефонов, Дисплеи, Стекло, Iphone Xiao...",0.0,Алматы,False,2024-12-16,Ауэзовский район

In [40]:
def clean_title(title):
    match = re.search(r'iPhone\s\d{1,2}(?:\sPro\sMax|\sPro)?\s\d+(?:GB|gb|TB|tb)?', title, re.IGNORECASE)
    return match.group(0) if match else None

In [41]:
df['Title'] = df['Title'].apply(clean_title)

In [42]:
df_cleaned = df[df['Title'].notnull()]

In [43]:
df_cleaned.head()

,Title,Price,City,Bargain,Date,District
1,iphone 15 pro 256,400000.0,Костанай,True,2024-12-15,NaN
2,IPhone 13 128gb,165000.0,Усть-Каменогорск,False,2024-12-16,45-я аптека
3,Iphone 11 128gb,35000.0,Актобе,False,2024-12-17,микрорайон 11
4,Iphone 11 128gb,35000.0,Караганда,False,2024-12-17,Казыбекбийский район
5,Iphone 14 Pro 256,102000.0,Тараз,False,2024-12-17,1-мкр. Акбулак

In [44]:
df_cleaned = df_cleaned.fillna({'Title': 'Unknown', 'Price': 0, 'City': 'Unknown', 'Bargain': False, 'Date': 'Unknown', 'District': 'Unknown'})

In [45]:
df_cleaned = df_cleaned.drop_duplicates()

In [46]:
df_cleaned.to_csv('cleaned_olx_iphone.csv', index=False, encoding='utf-8-sig')

In [47]:
df_cleaned.sort_values(["Price"]).head(10)

,Title,Price,City,Bargain,Date,District
840,Iphone 11 128,0.0,Шахтинск,False,2024-12-17,Unknown
1184,Iphone 11 128,0.0,Алматы,False,2024-12-17,Бостандыкский район
423,iPhone 12 64gb,0.0,Алматы,False,2024-12-17,Ауэзовский район
825,Iphone 12 pro 128,0.0,им.Балуана Шолака,False,2024-12-17,Unknown
624,iPhone 14 128GB,0.0,Астана,False,2024-12-17,Есильский район
133,Iphone 11 256,0.0,Тараз,False,2024-12-17,1-мкр. Акбулак
84,iphone 7 32,17000.0,Шанырак,False,2024-12-17,Unknown
511,iphone 6 32GB,18000.0,Сауран,True,2024-12-17,Unknown
301,Iphone 7 32gb,25000.0,Нуркен,False,2024-12-17,Unknown
1053,Iphone 7 32,30000.0,Астана,False,2024-12-17,Алматинский район

In [48]:
print("Total row count:", len(df_cleaned))
print("NaN values count:", df_cleaned.isna().sum())
print("Duplicate rows:", df_cleaned[df_cleaned.duplicated()].shape[0])

Total row count: 421
NaN values count: Title       0
Price       0
City        0
Bargain     0
Date        0
District    0
dtype: int64
Duplicate rows: 0

In [49]:
print(df_cleaned.dtypes)

Title               object
Price              float64
City                object
Bargain               bool
Date        datetime64[ns]
District            object
dtype: object